.root {
  max-width: 50vw;
  margin: 0 auto;
}
footer {
  background-color: lawngreen;
}

.avatar {
  display: inline-block;
  margin-top: 0;
  float: left;
  margin-right: 30px;
  
}
.contact {
  display: inline-block;
  
}